# Data settings
data/
non_validated_controls/
myenv/
.idea/
consts/
modules/__pycache__/
*.json
*.RData
*.Rhistory

# Files not to be included
*.ipynb
*.Rproj
.DS_Store
.Rproj.user
modules/weighted-matching.nb.html
