# Data settings
data/
non_validated_controls/
myenv/
.idea/
consts/
modules/__pycache__/
*.json
*.RData
*.Rhistory
*.pdf

# Files not to be included
draft.ipynb
draft-example.ipynb
*.Rproj
.DS_Store
.Rproj.user
modules/weighted-matching.nb.html
*-long.R
